In [1]:
import pandas

In [2]:
emotions = pandas.read_csv('./data/emotions.csv')
emotions

,date,user_id,item_id,type,emoji
0,2023-08-03 21:37:22+03:00,user_21883648,video_2247834,v_top,v_top
1,2023-08-03 21:04:54+03:00,user_24016046,video_2247834,v_top,v_top
2,2023-08-03 20:37:06+03:00,user_20748867,video_22669,v_top,v_top
3,2023-08-03 20:44:12+03:00,user_21545120,video_645471,v_top,v_top
4,2023-08-03 20:45:17+03:00,user_28987830,video_2346806,v_top,v_top
...,...,...,...,...,...
369424,2023-08-02 11:43:43+03:00,user_21597217,video_1180057,pos_emotions,Like
369425,2023-07-25 16:26:35+03:00,user_6805283,video_1180057,pos_emotions,Like
369426,2023-07-28 13:07:10+03:00,user_5419928,video_1180057,pos_emotions,Like
369427,2023-08-07 18:16:30+03:00,user_12044809,video_1180057,pos_emotions,Like
369428,2023-07-23 20:52:56+03:00,user_29042253,video_1180057,neg_emotions,Dislike

In [3]:
emotions = emotions[emotions['type'] != 'neg_emotions']

In [4]:
reactions = set()
for user_id, item_id in zip(emotions.user_id, emotions.item_id):
    reactions.add((user_id, item_id))

In [5]:
train_data = pandas.read_parquet(
    './data/player_starts_train.parquet', columns = ['date', 'user_id', 'item_id', 'watch_time']
)
train_data

                               date        user_id        item_id  watch_time
0         2023-07-21 19:04:50+03:00  user_12964323  video_1042531          51
1         2023-07-21 02:02:41+03:00     user_16517  video_1707159          31
2         2023-07-21 22:00:47+03:00  user_15057892  video_1989987           9
3         2023-07-21 19:09:43+03:00   user_2846972  video_1356486          -1
4         2023-07-21 11:06:58+03:00  user_20517034  video_1380654          11
...                             ...            ...            ...         ...
69954375  2023-08-21 02:51:53+03:00  user_15478739  video_1449287         291
69954376  2023-08-21 08:40:18+03:00  user_25783543  video_1423321           2
69954377  2023-08-21 05:19:55+03:00   user_3507470   video_464555         261
69954378  2023-08-21 12:32:32+03:00  user_13128840   video_420973          21
69954379  2023-08-21 14:13:32+03:00   user_5633301   video_733559         202

[69954380 rows x 4 columns]

In [6]:
train_data = train_data[train_data.date >= "2023-08-01 00:00:00+03:00"]
train_data

                               date        user_id        item_id  watch_time
23371198  2023-08-01 11:50:52+03:00  user_18556667    video_15830          51
23371199  2023-08-01 11:47:25+03:00  user_12417386  video_2194155         141
23371200  2023-08-01 11:47:14+03:00  user_12417386  video_2194155         141
23371201  2023-08-01 20:01:00+03:00  user_11892063  video_1770182         451
23371202  2023-08-01 20:20:21+03:00   user_6433209   video_854240        2612
...                             ...            ...            ...         ...
69954375  2023-08-21 02:51:53+03:00  user_15478739  video_1449287         291
69954376  2023-08-21 08:40:18+03:00  user_25783543  video_1423321           2
69954377  2023-08-21 05:19:55+03:00   user_3507470   video_464555         261
69954378  2023-08-21 12:32:32+03:00  user_13128840   video_420973          21
69954379  2023-08-21 14:13:32+03:00   user_5633301   video_733559         202

[46583182 rows x 4 columns]

In [ ]:
from tqdm.auto import tqdm

values = []
for user_id, item_id in tqdm(zip(train_data.user_id, train_data.item_id), total=len(train_data)):
    values.append((user_id, item_id) in reactions)
values

In [ ]:
train_data['reaction'] = values

In [ ]:
train_data['day'] = train_data['date'].apply(lambda x: int(x.split(' ')[0].split('-')[2]))

In [ ]:
import numpy as np

train_data["rank"] = train_data.day.max() - train_data.day.to_numpy()
train_data["rating"] = 100 * 1 / (train_data['rank'] + 1)**2 * np.log(train_data['watch_time']+2) * (1 + 10 * train_data['reaction'])
train_data

In [13]:
popularity = train_data.groupby('item_id')['rating'].sum()
popularity

item_id
video_0            1.744352
video_1           56.761629
video_1000        61.130565
video_10000     5095.179229
video_100000     864.454076
                   ...
video_999995       0.850299
video_999996       1.821000
video_999997       3.166604
video_999998       0.173287
video_999999       1.145698
Name: rating, Length: 1844876, dtype: float64

In [21]:
const_predict = list(popularity.sort_values(ascending=False).index[:10])
const_predict

['video_283933',
 'video_68646',
 'video_1761620',
 'video_1594159',
 'video_170129',
 'video_2052690',
 'video_803844',
 'video_1508623',
 'video_1210283',
 'video_1508131']

In [22]:
test_user_ids = set(np.load('test_user_ids.npy'))
test_user_ids

{'user_23909185',
 'user_4235297',
 'user_26641195',
 'user_6154739',
 'user_11776568',
 'user_19134421',
 'user_15049768',
 'user_23490712',
 'user_8852409',
 'user_27792003',
 'user_15012727',
 'user_24171720',
 'user_15080762',
 'user_21273357',
 'user_5601539',
 'user_24779428',
 'user_14645425',
 'user_11561740',
 'user_12260731',
 'user_16778190',
 'user_26795506',
 'user_20284925',
 'user_1629611',
 'user_1499651',
 'user_28669758',
 'user_21267267',
 'user_20435024',
 'user_24072700',
 'user_7776',
 'user_5414977',
 'user_12717008',
 'user_5606314',
 'user_11717787',
 'user_5982604',
 'user_17569451',
 'user_19344263',
 'user_6272352',
 'user_15074328',
 'user_19029964',
 'user_2225918',
 'user_27541197',
 'user_222612',
 'user_9638439',
 'user_20071373',
 'user_11007664',
 'user_8457985',
 'user_19940321',
 'user_27051419',
 'user_23922815',
 'user_21276657',
 'user_20234468',
 'user_27844167',
 'user_18786557',
 'user_23359349',
 'user_28108225',
 'user_13323836',
 'user_1429869',
 'user_868561',
 'user_18802110',
 'user_17344844',
 'user_7697304',
 'user_8182108',
 'user_13435012',
 'user_3662002',
 'user_11474941',
 'user_621937',
 'user_12778127',
 'user_29072108',
 'user_17912593',
 'user_28374612',
 'user_20923092',
 'user_25956373',
 'user_16085791',
 'user_3622460',
 'user_14884882',
 'user_19658029',
 'user_22806397',
 'user_15776014',
 'user_14052518',
 'user_15274562',
 'user_1704654',
 'user_851715',
 'user_19197864',
 'user_21245352',
 'user_28363006',
 'user_6156251',
 'user_29152298',
 'user_20737193',
 'user_17853674',
 'user_20305961',
 'user_17473652',
 'user_24607413',
 'user_7404808',
 'user_27394026',
 'user_18107705',
 'user_23284676',
 'user_21012046',
 'user_24838436',
 'user_28242183',
 'user_2152827',
 'user_26987909',
 'user_1528691',
 'user_29021714',
 'user_6684109',
 'user_23867982',
 'user_1695741',
 'user_181488',
 'user_26513790',
 'user_4247483',
 'user_12753833',
 'user_18512701',
 'user_14102430',
 'user_21871686',
 'user_16304790',
 'user_27675041',
 'user_23809933',
 'user_623099',
 'user_5919903',
 'user_9386127',
 'user_21797932',
 'user_96625',
 'user_17634141',
 'user_3687408',
 'user_24074933',
 'user_17270905',
 'user_28230169',
 'user_7426989',
 'user_5799666',
 'user_4548672',
 'user_1483798',
 'user_22901802',
 'user_6137229',
 'user_16366755',
 'user_12606988',
 'user_2037035',
 'user_6878415',
 'user_2770037',
 'user_27297221',
 'user_26935584',
 'user_2743823',
 'user_18024365',
 'user_5014616',
 'user_9384850',
 'user_15788639',
 'user_10887994',
 'user_1422902',
 'user_1686352',
 'user_2484310',
 'user_2391184',
 'user_5197660',
 'user_3499154',
 'user_22535047',
 'user_12468690',
 'user_2630124',
 'user_25150911',
 'user_18138463',
 'user_16553824',
 'user_6908501',
 'user_7681540',
 'user_12247293',
 'user_20300283',
 'user_22370797',
 'user_8949005',
 'user_6453394',
 'user_27343770',
 'user_22497635',
 'user_338113',
 'user_22268159',
 'user_28376518',
 'user_25908097',
 'user_10521299',
 'user_22122910',
 'user_15157854',
 'user_2849407',
 'user_23876161',
 'user_6903579',
 'user_523930',
 'user_20210960',
 'user_1584607',
 'user_25949366',
 'user_23816923',
 'user_7285631',
 'user_909995',
 'user_13342085',
 'user_12755516',
 'user_7181307',
 'user_25901383',
 'user_23435658',
 'user_4671151',
 'user_11018831',
 'user_2520425',
 'user_24521918',
 'user_13561062',
 'user_23488099',
 'user_6699773',
 'user_12421357',
 'user_11839940',
 'user_23224352',
 'user_8382421',
 'user_7088856',
 'user_9786007',
 'user_23002832',
 'user_28953835',
 'user_11166654',
 'user_6014628',
 'user_14789358',
 'user_23244537',
 'user_23076500',
 'user_24747342',
 'user_28051412',
 'user_9924510',
 'user_20892542',
 'user_29141957',
 'user_25046943',
 'user_28595417',
 'user_11246110',
 'user_27641821',
 'user_18486911',
 'user_5137263',
 'user_6106330',
 'user_17499511',
 'user_19434833',
 'user_21769796',
 'user_15937089',
 'user_22739549',
 'user_17273909',
 'user_27664263',
 'user_14011798',
 'user_17162905',
 'user_2720431',
 'user_6342754',
 'user_26770698',
 'user_13863821',
 'user_7557641',
 'user_7851487',
 'user_6868227',
 'user_3396848',
 'user_17089509',
 'user_4111',
 'user_14063200',
 'user_11613613',
 'user_19743294',
 'user_2640274',
 'user_11369424',
 'user_26083051',
 'user_13497024',
 'user_19909616',
 'user_27875339',
 'user_24207152',
 'user_4946374',
 'user_16532766',
 'user_26713542',
 'user_24741258',
 'user_2171559',
 'user_9386303',
 'user_19573805',
 'user_15468996',
 'user_10853146',
 'user_27120322',
 'user_19614041',
 'user_16011431',
 'user_22658022',
 'user_5423330',
 'user_416810',
 'user_20574670',
 'user_12233905',
 'user_6794824',
 'user_6371380',
 'user_149866',
 'user_18454037',
 'user_24612225',
 'user_2545953',
 'user_20364749',
 'user_22200735',
 'user_23419675',
 'user_20386624',
 'user_2061290',
 'user_22773626',
 'user_9298522',
 'user_3514156',
 'user_5304762',
 'user_25946119',
 'user_3902893',
 'user_16512187',
 'user_27798711',
 'user_4709203',
 'user_24790469',
 'user_15048893',
 'user_25511653',
 'user_4897297',
 'user_15791737',
 'user_21278293',
 'user_16041555',
 'user_11876000',
 'user_8501129',
 'user_11768615',
 'user_9509045',
 'user_17524578',
 'user_3145881',
 'user_18556521',
 'user_19480139',
 'user_16424774',
 'user_3153123',
 'user_13883308',
 'user_12295339',
 'user_5945936',
 'user_15907296',
 'user_8883652',
 'user_11641154',
 'user_21630740',
 'user_14566377',
 'user_22639463',
 'user_4179427',
 'user_11734679',
 'user_2555219',
 'user_5854128',
 'user_7760626',
 'user_18825766',
 'user_5058981',
 'user_13749966',
 'user_4112444',
 'user_284088',
 'user_28859157',
 'user_18454157',
 'user_27622682',
 'user_17797469',
 'user_13741105',
 'user_22508053',
 'user_20515386',
 'user_27091078',
 'user_27366731',
 'user_7555538',
 'user_3490012',
 'user_9749640',
 'user_16635940',
 'user_3921936',
 'user_20132528',
 'user_14325587',
 'user_1887256',
 'user_17822232',
 'user_15977977',
 'user_12589300',
 'user_4973471',
 'user_10016584',
 'user_23841922',
 'user_18269463',
 'user_3887392',
 'user_11799059',
 'user_17615968',
 'user_18224874',
 'user_25696214',
 'user_7101504',
 'user_16597254',
 'user_20175808',
 'user_3632572',
 'user_15089517',
 'user_5606278',
 'user_9009995',
 'user_6054855',
 'user_24405702',
 'user_27467012',
 'user_13143832',
 'user_9933247',
 'user_20841787',
 'user_8971310',
 'user_6441117',
 'user_2151982',
 'user_16034172',
 'user_18249153',
 'user_18502679',
 'user_9120631',
 'user_11514798',
 'user_19053794',
 'user_20388899',
 'user_15357885',
 'user_17696600',
 'user_7512560',
 'user_9680046',
 'user_8744281',
 'user_25118122',
 'user_1252523',
 'user_10540239',
 'user_17637511',
 'user_26749769',
 'user_23793512',
 'user_722055',
 'user_1814389',
 'user_16357126',
 'user_21076552',
 'user_20120658',
 'user_18450802',
 'user_21703868',
 'user_27314286',
 'user_27824867',
 'user_2709347',
 'user_25689858',
 'user_2609084',
 'user_6189786',
 'user_20299853',
 'user_23276716',
 'user_10374554',
 'user_6132115',
 'user_26258954',
 'user_2323381',
 'user_9252720',
 'user_8273866',
 'user_21718445',
 'user_25651066',
 'user_25860229',
 'user_10469867',
 'user_24429799',
 'user_25449877',
 'user_4365278',
 'user_2168955',
 'user_1236045',
 'user_16230776',
 'user_4921740',
 'user_24718717',
 'user_16042684',
 'user_6380387',
 'user_8308119',
 'user_20468818',
 'user_3287092',
 'user_8656120',
 'user_15293545',
 'user_1799229',
 'user_26232110',
 'user_4285431',
 'user_17577661',
 'user_8287101',
 'user_2227956',
 'user_10288797',
 'user_24136745',
 'user_28751680',
 'user_13060110',
 'user_23575445',
 'user_12213564',
 'user_9973042',
 'user_15272398',
 'user_9098281',
 'user_14291146',
 'user_27892087',
 'user_8265820',
 'user_13440327',
 'user_27008069',
 'user_11391083',
 'user_26031802',
 'user_26301757',
 'user_185984',
 'user_26410986',
 'user_11556990',
 'user_4317851',
 'user_27878598',
 'user_23190320',
 'user_5960871',
 'user_14954565',
 'user_709731',
 'user_23014888',
 'user_9188959',
 'user_28896394',
 'user_14904558',
 'user_26049428',
 'user_19825796',
 'user_28098838',
 'user_23439116',
 'user_1690237',
 'user_21297851',
 'user_29148263',
 'user_26679072',
 'user_7673612',
 'user_24972514',
 'user_6680385',
 'user_13508866',
 'user_21374762',
 'user_22753696',
 'user_487977',
 'user_24690032',
 'user_20855879',
 'user_27222184',
 'user_10401533',
 'user_18386549',
 'user_17325728',
 'user_22750188',
 'user_8576893',
 'user_20520399',
 'user_9321297',
 'user_14120423',
 'user_21138671',
 'user_9895969',
 'user_656800',
 'user_26095177',
 'user_8409573',
 'user_746409',
 'user_11061684',
 'user_1808098',
 'user_20574107',
 'user_18347602',
 'user_16940978',
 'user_11320136',
 'user_8864333',
 'user_22807620',
 'user_15203227',
 'user_15015010',
 'user_10924617',
 'user_15666666',
 'user_23123424',
 'user_16389883',
 'user_20599192',
 'user_17861966',
 'user_11264625',
 'user_11856249',
 'user_9193074',
 'user_16714383',
 'user_5320993',
 'user_23949388',
 'user_13869323',
 'user_12722002',
 'user_28745128',
 'user_12340185',
 'user_467731',
 'user_1623335',
 'user_12247604',
 'user_672132',
 'user_611632',
 'user_1804022',
 'user_16401648',
 'user_19196703',
 'user_23159',
 'user_18822480',
 'user_19739422',
 'user_1372053',
 'user_17334455',
 'user_17114569',
 'user_11732813',
 'user_8156973',
 'user_24613529',
 'user_22546490',
 'user_11758156',
 'user_11615262',
 'user_19561222',
 'user_16953385',
 'user_2955562',
 'user_6802185',
 'user_19743616',
 'user_21775377',
 'user_6854567',
 'user_4545226',
 'user_28904123',
 'user_26473323',
 'user_18135141',
 'user_6343061',
 'user_12461867',
 'user_25032509',
 'user_20002507',
 'user_6077825',
 'user_26380435',
 'user_8279095',
 'user_21953803',
 'user_17707585',
 'user_1988949',
 'user_8110981',
 'user_27031301',
 'user_25000064',
 'user_21865183',
 'user_8685386',
 'user_7776078',
 'user_15649486',
 'user_13506484',
 'user_27244302',
 'user_25209625',
 'user_12708548',
 'user_23979431',
 'user_26533233',
 'user_8499590',
 'user_25998641',
 'user_21227738',
 'user_26835269',
 'user_18079880',
 'user_18225336',
 'user_22624847',
 'user_8809244',
 'user_4914548',
 'user_14662896',
 'user_12607228',
 'user_17019927',
 'user_25412823',
 'user_16316163',
 'user_22652520',
 'user_10228361',
 'user_967544',
 'user_23070953',
 'user_17326103',
 'user_23578750',
 'user_26337062',
 'user_18777882',
 'user_8343715',
 'user_26164413',
 'user_6829755',
 'user_15888200',
 'user_24680912',
 'user_3400519',
 'user_7111619',
 'user_8739916',
 'user_16453803',
 'user_19862908',
 'user_7657813',
 'user_22611752',
 'user_6719389',
 'user_13705361',
 'user_28150075',
 'user_25291650',
 'user_23371129',
 'user_6257787',
 'user_23592187',
 'user_9959407',
 'user_13073482',
 'user_4514615',
 'user_26261213',
 'user_28352949',
 'user_1326135',
 'user_223277',
 'user_6481260',
 'user_24338086',
 'user_1749208',
 'user_11748695',
 'user_7907151',
 'user_17008326',
 'user_14740483',
 'user_18026121',
 'user_20225105',
 'user_12638661',
 'user_1422753',
 'user_24855907',
 'user_7827636',
 'user_11451030',
 'user_20195709',
 'user_19917008',
 'user_29121282',
 'user_28340630',
 'user_22842857',
 'user_8073465',
 'user_9186894',
 'user_18763994',
 'user_43082',
 'user_8537738',
 'user_28509840',
 'user_6324008',
 'user_22218839',
 'user_9709346',
 'user_17296925',
 'user_15870186',
 'user_24493210',
 'user_13536780',
 'user_15393667',
 'user_768672',
 'user_6249819',
 'user_18200130',
 'user_12941925',
 'user_22405652',
 'user_17483495',
 'user_16799313',
 'user_5859180',
 'user_1707574',
 'user_1474825',
 'user_26017482',
 'user_22805059',
 'user_14816794',
 'user_4695',
 'user_19422820',
 'user_27462222',
 'user_18452747',
 'user_1887223',
 'user_4623376',
 'user_26154106',
 'user_7394282',
 'user_18056995',
 'user_22855407',
 'user_6534558',
 'user_142995',
 'user_27766932',
 'user_23294004',
 'user_15816779',
 'user_12684797',
 'user_8567170',
 'user_8129584',
 'user_7918915',
 'user_22938509',
 'user_4092355',
 'user_5971033',
 'user_13718330',
 'user_23011218',
 'user_8282194',
 'user_18701759',
 'user_10354612',
 'user_8349754',
 'user_27631046',
 'user_19000240',
 'user_3001310',
 'user_22844695',
 'user_25467999',
 'user_19057676',
 'user_25064585',
 'user_26536487',
 'user_3393059',
 'user_3201023',
 'user_18421889',
 'user_965364',
 'user_12361276',
 'user_23456184',
 'user_13177416',
 'user_25097195',
 'user_22161671',
 'user_11046009',
 'user_14248816',
 'user_23103829',
 'user_11328719',
 'user_5011276',
 'user_4178239',
 'user_4724214',
 'user_8584991',
 'user_11646186',
 'user_9017450',
 'user_15270660',
 'user_14290145',
 'user_17549306',
 'user_28254925',
 'user_28814641',
 'user_9702681',
 'user_24748969',
 'user_14714410',
 'user_24046236',
 'user_15172790',
 'user_532184',
 'user_6455410',
 'user_14100351',
 'user_7434014',
 'user_13980950',
 'user_12996594',
 'user_9516896',
 'user_12213713',
 'user_16041869',
 'user_14792134',
 'user_19288607',
 'user_8942792',
 'user_12707108',
 'user_1349070',
 'user_23571482',
 'user_25663609',
 'user_24036668',
 'user_13300008',
 'user_17447090',
 'user_10410028',
 'user_4708791',
 'user_5009590',
 'user_8007688',
 'user_4234252',
 'user_24809727',
 'user_6894562',
 'user_1247103',
 'user_24969224',
 'user_27435020',
 'user_14384006',
 'user_7788005',
 'user_10626186',
 'user_13551473',
 'user_10261504',
 'user_8650754',
 'user_28519336',
 'user_12139149',
 'user_10077867',
 'user_3238227',
 'user_10806278',
 'user_11886309',
 'user_6649221',
 'user_1299769',
 'user_11293632',
 'user_12766277',
 'user_21687460',
 'user_27234786',
 'user_8117655',
 'user_17337108',
 'user_12020389',
 'user_18138230',
 'user_6204554',
 'user_5525393',
 'user_14328269',
 'user_26354536',
 'user_5349758',
 'user_8838256',
 'user_28620787',
 'user_9244097',
 'user_25272740',
 'user_20280137',
 'user_28032358',
 'user_17673405',
 'user_17577565',
 'user_8667908',
 'user_18025442',
 'user_25483413',
 'user_3822292',
 'user_5974182',
 'user_4946327',
 'user_17379676',
 'user_6870762',
 'user_5832187',
 'user_23980894',
 'user_28464928',
 'user_12423996',
 'user_12021579',
 'user_4057915',
 'user_12163273',
 'user_5263872',
 'user_20137071',
 'user_4212212',
 'user_7999599',
 'user_22132807',
 'user_5353633',
 'user_16737047',
 'user_4080470',
 'user_4842235',
 'user_2635554',
 'user_18095880',
 'user_20200546',
 'user_10521098',
 'user_12383142',
 'user_12175902',
 'user_19322638',
 'user_3005122',
 'user_8745358',
 'user_21741900',
 'user_14897292',
 'user_1912153',
 'user_5317833',
 'user_8297141',
 'user_3579957',
 'user_21998161',
 'user_12419913',
 'user_1862348',
 'user_25246886',
 'user_15857413',
 'user_24282929',
 'user_565450',
 'user_9601291',
 'user_26017551',
 'user_8304343',
 'user_17114706',
 'user_21758945',
 'user_9092253',
 'user_4403996',
 'user_14510537',
 'user_23569810',
 'user_1674579',
 'user_4455262',
 'user_25310976',
 'user_15827898',
 'user_25488346',
 'user_17917002',
 'user_16217320',
 'user_9301222',
 'user_4272645',
 'user_2349823',
 'user_1304892',
 'user_12194346',
 'user_6882444',
 'user_21799592',
 'user_56018',
 'user_5226808',
 'user_565332',
 'user_25929742',
 'user_16126833',
 'user_7724246',
 'user_1311119',
 'user_2568351',
 'user_26145153',
 'user_2228395',
 'user_7852552',
 'user_21162423',
 'user_23455216',
 'user_24684',
 'user_19431635',
 'user_26257217',
 'user_18543606',
 'user_18206533',
 'user_18330871',
 'user_8957714',
 'user_4417224',
 'user_14482150',
 'user_23187150',
 'user_20768808',
 'user_22731789',
 'user_21143781',
 'user_27648784',
 'user_10857039',
 'user_11919140',
 'user_2296551',
 'user_3623493',
 'user_440412',
 'user_11992351',
 'user_6571159',
 'user_21099042',
 'user_6213344',
 'user_28047825',
 'user_15377072',
 'user_19904187',
 'user_4036572',
 'user_9206474',
 'user_10992059',
 'user_2965127',
 'user_15422750',
 'user_2176165',
 'user_10568139',
 'user_9420633',
 'user_14282623',
 'user_12823236',
 'user_243757',
 'user_26290928',
 'user_26172161',
 'user_27894379',
 'user_7273888',
 'user_15773811',
 'user_27022305',
 'user_23180273',
 'user_1618008',
 'user_11677440',
 'user_18612517',
 'user_11807063',
 'user_14183981',
 'user_17128257',
 'user_22563979',
 'user_13163112',
 'user_21389761',
 'user_24618935',
 'user_14629869',
 'user_16626794',
 'user_359406',
 'user_8436637',
 'user_6635385',
 'user_27911732',
 'user_4016242',
 'user_4608015',
 'user_4604251',
 'user_13874320',
 'user_1060014',
 'user_27327468',
 'user_1164672',
 'user_8236055',
 'user_14552481',
 'user_26507212',
 'user_3077644',
 'user_10888588',
 'user_5696038',
 'user_15883106',
 'user_26461865',
 'user_453148',
 'user_23937355',
 'user_18586485',
 'user_2919416',
 'user_7188225',
 'user_24782823',
 'user_14198002',
 'user_26958338',
 'user_22206938',
 'user_9434330',
 'user_25704714',
 'user_16018602',
 'user_12417435',
 'user_12906085',
 'user_16053428',
 'user_5524242',
 'user_7437314',
 'user_29136190',
 'user_7635731',
 'user_1830199',
 'user_11604548',
 'user_28100479',
 'user_25858226',
 'user_2685708',
 'user_10693717',
 'user_4736786',
 'user_7296130',
 'user_26007895',
 'user_16887825',
 'user_24823314',
 'user_26206170',
 'user_28889251',
 'user_27240859',
 'user_24895604',
 'user_17851074',
 'user_659986',
 'user_24548179',
 'user_5408636',
 'user_12517478',
 'user_18501631',
 'user_9949908',
 'user_7853450',
 'user_17571766',
 'user_10785835',
 'user_28803503',
 'user_6883473',
 'user_21614115',
 ...}

In [23]:
submission = pandas.read_csv('./submission_0,395.csv').set_index('user_id')
submission

                                                            recs
user_id
user_26511551  ['video_1545210', 'video_2323123', 'video_9761...
user_29194819  ['video_283933', 'video_68646', 'video_1508623...
user_29734049  ['video_283933', 'video_68646', 'video_1508623...
user_955460    ['video_283933', 'video_68646', 'video_1508623...
user_7065521   ['video_38143', 'video_1764512', 'video_228142...
...                                                          ...
user_29281681  ['video_283933', 'video_68646', 'video_1508623...
user_3912848   ['video_2189663', 'video_1095484', 'video_1174...
user_28389099  ['video_144691', 'video_144691', 'video_144691...
user_18951296  ['video_1157869', 'video_2323393', 'video_1108...
user_16411220  ['video_648740', 'video_648740', 'video_648740...

[97240 rows x 1 columns]

In [24]:
for user_id in submission.index:
    if user_id not in test_user_ids:
        submission.loc[user_id, 'recs'] = const_predict

In [25]:
submission.to_csv("submission_0,395_const.csv")

In [26]:
submission

                                                            recs
user_id
user_26511551  ['video_1545210', 'video_2323123', 'video_9761...
user_29194819  [video_283933, video_68646, video_1761620, vid...
user_29734049  [video_283933, video_68646, video_1761620, vid...
user_955460    [video_283933, video_68646, video_1761620, vid...
user_7065521   ['video_38143', 'video_1764512', 'video_228142...
...                                                          ...
user_29281681  [video_283933, video_68646, video_1761620, vid...
user_3912848   ['video_2189663', 'video_1095484', 'video_1174...
user_28389099  [video_283933, video_68646, video_1761620, vid...
user_18951296  ['video_1157869', 'video_2323393', 'video_1108...
user_16411220  [video_283933, video_68646, video_1761620, vid...

[97240 rows x 1 columns]